<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/latest.html">Latest Alerts</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/signup.html">Subscribe</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://contact.3blmedia.com/reportalert/">Submit Content</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/testimonials.html">Testimonials</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/about.html">About Us</a>
</li>
