<!-- Replace menu links here -->
<li class="nav-item">
    <a class="nav-link {% if page.id == 'home' %}active{% endif %}" href="{{site.baseurl}}/index.html">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if page.id == 'latest' %}active{% endif %}" href="{{site.baseurl}}/latest.html">Latest Alerts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if page.id == 'signup' %}active{% endif %}" href="{{site.baseurl}}/signup.html">Subscribe</a>
  </li>
  <li class="nav-item">
    <a target="_blank" class="nav-link" href="https://contact.3blmedia.com/reportalert/">Submit Content <i class="fas fa-external-link-alt"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if page.id == 'testimonials' %}active{% endif %}" href="{{site.baseurl}}/testimonials.html">Testimonials</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if page.id == 'about' %}active{% endif %}" href="{{site.baseurl}}/about.html">About Us</a>
  </li>
  