<div class="sidebar-custom">
  <h4 class="font-weight-bold spanborder"><span style="margin-left: 20px;">Latest Alerts</span></h4>
  <div class="sticky-top sticky-top-offset">
    <div id="output-latest-sidebar">
      <ol class="list-featured" style="list-style-type: decimal;">
        <!-- The list items will be appended here -->
      </ol>
    </div>
    <a style="margin-left: 40px;" href="{{site.baseurl}}/latest.html">See More Alerts</a>
    <img style="margin-left: 10px;" src="assets/images/ra-alert-icon.png" alt="ra-alert-icon">
  </div> 
</div>

<script>
const apiUrl = 'https://back.3blmedia.com/rest/report-announcement/latest-reports?page=0';
const outputElement = document.querySelector('#output-latest-sidebar ol');

// Function to truncate text
function truncateText(text, maxLength) {
  if (text.length <= maxLength) {
    return text;
  }
  return text.slice(0, maxLength) + '...';
} 

fetch(apiUrl)
  .then(response => {
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    return response.json();
  })
  .then(data => {
    // Clear the output element
    outputElement.innerHTML = '';

    // Display only the first 5 data in HTML elements
    data.results.slice(0, 5).forEach(report => {
      let truncatedTitle = truncateText(report["report-title"], 80); // Truncate title to 80 characters
      const reportUrl = `{{site.baseurl}}/latest-content.html?alias=${report["url-alias"]}`;
      let reportElement = document.createElement('li');
      reportElement.classList.add('mb-4');
      reportElement.innerHTML = `
        <span>
          <h6 class="font-weight-bold">
            <a class="text-dark report-link" href="${reportUrl}" data-alias="${report["url-alias"]}">${truncatedTitle}</a>
          </h6>
        </span>
      `;
      outputElement.appendChild(reportElement);
      localStorage.setItem(`report_${report["url-alias"]}`, JSON.stringify(report));
    });

    document.querySelectorAll('.report-link').forEach(link => {
      link.addEventListener('click', (event) => {
        const urlAlias = event.target.closest('.report-link').getAttribute('data-alias');
        localStorage.setItem('currentReportAlias', urlAlias);
      });
    });
  })
  .catch(error => {
    console.error('Error:', error);
    outputElement.textContent = 'An error occurred while fetching the data.';
  });
</script>
