<!-- Footer -->
<footer class="bg-white border-top p-3 text-muted small">
    <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/index.html"><img src="{{site.baseurl}}/{{site.logo}}" width="80px" height="auto" alt=""></a>
    <div class="row align-items-center justify-content-between">
        <div class="footer-row-1">
            <li style="font-size: large; list-style-type: none;  margin-bottom: 20px; text-decoration: none !important;">© 3BL MEDIA, Inc</li>
           <ul>
            <li><a  target="_blank" rel="noopener noreferrer" href="https://www.3blmedia.com/sites/default/files/pdf/3BL_Media_Privacy_Policy_10012021.pdf">Privacy Policy</a></li>
            <li><a href="{{site.baseurl}}/terms" target="_blank" rel="noopener noreferrer">Terms of Use</a></li>
            <li><a href="http://reportalert.info/" target="_blank" rel="noopener noreferrer">Site Map</a></li>
           </ul>
        </div>
        <div class="footer-row-2" style="font-size: medium;">
            <p>3BL Media, Inc <br>
                136 West St Ste 104 <br>
                Northampton, MA 01060
            </p>
           <ul>
            <li><a href="https://contact.3blmedia.com/" target="_blank" rel="noopener noreferrer">Contact Us</a></li>
            <li><a href="{{site.baseurl}}/about" target="_blank" rel="noopener noreferrer">About Us</a></li>
           </ul>
        </div>
        <div class="footer-row-3">
            <h5>Find Us on Social</h5>
            <ul class="footer__social-list" style="font-size: 20px; color: black; border-radius: 50%; ">
                <li style="list-style-type: none;"><a href="https://twitter.com/reportalert/"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/groups/145633/"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/3blmedia/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/3BLMedia/"><i class="fab fa-facebook"></i></a></li>
            </ul>
        </div>
    </div>
    </div>
</footer>