<!DOCTYPE html>
<html lang="en">

{% include tracking-header.html %}

<body class="{% if page.url == "/" %} homefirstpage {% endif %}">

    <!-- Navbar -->
    <nav id="MagicMenu" class="topnav navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/index.html"><img src="{{site.baseurl}}/{{site.logo}}" width="80px" height="auto" alt=""></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor02" style="">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
               {% include menu-header.html %}
            </ul>
            <ul class="navbar-nav ml-auto d-flex align-items-center">
                {% include search-lunr.html %}
            </ul>
        </div>
    </div>
    </nav>

    <!-- Search Results -->
    <div id="lunrsearchresults">
        <ul class="mb-0"></ul>
    </div>

    <!-- Content -->
    <main role="main" class="site-content">
        {{ content }}
    </main>


    <!-- Scripts: popper, bootstrap, theme, lunr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script src="{{site.baseurl}}/assets/js/theme.js"></script>


    {% include tracking-footer.html %}


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="./js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="./js/vendor/momentjs/moment.js"></script>
    <script src="./js/vendor/mustachejs/mustache.min.js"></script>
    <script src="./js/rest_functions.js"></script>
    <script src="./js/latest-page.js"></script>
    <script src="./js/latest-post.js"></script>

    {% for js in page.customjs %}
    <!-- Custom JavaScript files set in YAML front matter -->
    <script async type="text/javascript" src=".{{ js }}"></script>
    {% endfor %}
    <script language="javascript" src="https://www.3blmedia.com/sites/all/modules/custom_modules/threebl_widgets/inc/widget_function.js"></script>
    <script type="text/javascript">init_widget_new("NDMzODUyNzZjOGI2MzljYjhkY2ZmZjM3YzMxNzhjMWU=","ZGV0YWlscw==");</script>

    <!-- START Parse.ly Include: Standard -->
    <div id="parsely-root" style="display: none">
      <span id="parsely-cfg" data-parsely-site="reportalert.info"></span>
    </div>
    <script>
      (function(s, p, d) {
        var h=d.location.protocol, i=p+"-"+s,
                e=d.getElementById(i), r=d.getElementById(p+"-root"),
                u=h==="https:"?"d1z2jf7jlzjs58.cloudfront.net"
                        :"static."+p+".com";
        if (e) return;
        e = d.createElement(s); e.id = i; e.async = true;
        e.src = h+"//"+u+"/p.js"; r.appendChild(e);
      })("script", "parsely", document);
      
    </script>
    <!-- END Parse.ly Include: Standard -->


</body>

</html>
